body{
    background-color: black;
    background-image: url(https://wallpaperaccess.com/full/4469613.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 400px;
    display: grid;
    grid-template-rows: 1fr;
    -webkit-text-fill-color: slateblue;
}
.lvl1{
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}
.lvl2{
    height: 100%;
}
.head{
    grid-row: 1;
}
.body{
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.leftbody{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.rightbody{
    grid-column: 2;
}
.legs{
    grid-row: 3;
    display: grid;
}
.legs .button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}   