body{
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/18/a3/74/18a37461cf0e14ffc565b0f5ec82b0c6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr;
    -webkit-text-fill-color: slateblue;
}
.lvl1{
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}
.lvl2{
    height: 100%;
}
.head{
    grid-row: 1;
}
.body{
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.leftbody{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.leftarrow ,.rightarrow{
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
}
.leftarrow button,.rightarrow button{
    grid-row: 2;
    grid-column: 2;
    width: 150px;
}
.content{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.content h1{
    grid-row: 2;
}
.rightbody{
    grid-column: 2;
}
.legs{
    grid-row: 3;
    display: grid;
}
.legs .button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}   